body{
    overflow: hidden;
}
#city{
    background-image: url(images/street%20background.png);
    background-size: cover;
    height: 100vh;
    position: absolute;
    z-index: -20;
    overflow: hidden;
    background-color: #424242;
}
#plane{
    width: 200px;
    height: 100px;
    background-image: url(images/plane.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10;
    left: 110vw;
}
h3{
   text-align: center;
    font-family: Franklin Gothic;
    position: absolute;
    left: 45vw;
    top: 200px;
    color: darkgrey;
    opacity: 0;
}
.opacity{
    opacity: 1;
}
#sign{
    margin-left: 100vw;
    height: 201px;
    /*display: no;*/
}
#building1{
    background-image: url(images/building1.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 100px;
    cursor: pointer;
    position:absolute;
    left: 25vw;
    bottom: 10vh;

}
#building2{
   background-image: url(images/building2.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    cursor: pointer;
    position:absolute;
    left: 40vw;
    bottom: 10vh;
}
#building3{
    width: 200px;
    height: 300px;
    background-image: url(images/building3.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position:absolute;
    left: 80vw;
    bottom: 10vh;
}
#building4{
    background-image: url(images/building4.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 400px;
    position: absolute;
    bottom: 10vh;
    left: 0vw;
    cursor: pointer;
}
#building5{
    background-image: url(images/building5.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 225px;
    position: absolute;
    bottom: 10vh;
    left: 60vw;
    cursor: pointer;
}
#buildings{
    margin-top: 50vh;
    }
.actor1{
    position: absolute;
    left:0vw;
    bottom: 10vh;
}
.actor2{
    position: absolute;
    left: 40vw;
    bottom: 10vh;
}
.actor3{
    position:absolute;
    left: 80vw;
    bottom: 10vh;
}
.actor1, .actor2, .actor3{
    max-height: 200px;
}
.allBombs{
    background-image: url(images/bomb.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: auto;
    position: absolute;
    z-index: -1;
    left: 47vw;
    top: 80px;
    opacity: 0;
}
/*ALL ANIMATIONS////////////////////////////////////////////////*/
.animation{
    opacity: 1;
    transition: transform 4s ease-in;
    transform: translate(-22vw, 55vh) scale(3);

}
.animation2{
    opacity: 1;
    transition: transform 4s ease-in;
    transform: translate(0vw, 59vh) scale(3);
}
.animation3{
    opacity: 1;
    transition: transform 4s ease-in;
    transform: translate(35vw, 59vh) scale(3);
}
.animation4{
    opacity: 1;
    transition: transform 4s ease-in;
    transform: translate(-45vw, 59vh) scale(3);
}
.animation5{
    opacity: 1;
    transition: transform 4s ease-in;
    transform: translate(20vw, 59vh) scale(3);
}
.actorscometogether{
    transition: transform 2s ease-out;
    transform: translateX(30vw);
}
.actorscometogether2{
    transition: transform 2s ease-out;
    transform: translateX(-30vw);
}
.planeFlyOut{
    transition: transform 4s ease-in;
    transform: translateX(-170vw);
}
.planeFlyIn{
  transition: transform 4s ease-out;
  transform: translateX(-70vw);
}
.planeWrap{
    animation: planeMove 2s infinite alternate;
}
@keyframes planeMove{
    to{transform: translateY(20px)}
}
.storyText{
    transition: transform 8s ease-out;
    transform: translateX(-70vw);
}
