 h1 {
     font-family: Franklin Gothic;
     font-size: 5em;
     color: #f8de28;
     margin-bottom: 0;
     margin-top: 1vh;
     top: 5vh;
     left: 15vw;
     z-index: 100;
     position: absolute;
 }

 span {
     font-family: Brush Script MT;
     font-size: 1.3em;
     font-weight: 100;
 }

 #back {
     background-color: #2E2E2E;
 }

 .backgr {
     background-image: url(images/theater-background.png);
     background-size: cover;
     height: 100vh;
 }

 .blackBackground {
     background-size: cover;
     height: 100vh;
     background-color: black;
 }

 #buttons {
     position: absolute;
     top: 23vh;
     left: 9vw;
     z-index: 100;
 }

 button {
     font-family: Franklin Gothic;
     font-size: 1.5em;
     font-weight: 600;
     width: 25vw;
     height: 6vh;
     margin-bottom: 1vh;
     border-radius: 10px;
     background-color: rgba(255, 255, 255, 0.7);
     border: 4px solid grey;
     color: #424242;
     cursor: pointer;
 }

 .wrong {
     display: none;
 }

 #promter {
     margin-left: 5vw;
     position: absolute;
     top: 73vh;
     left: 50vw;
     z-index: 100;
     cursor: pointer;
 }

 #ha {
     background-image: url(images/hamlet_sprite01.png);
     position: absolute;
     z-index: 100;
     top: 51vh;
     left: 28vw;
     width: 220px;
     height: 300px;
 }

 .hamletConfused {
     animation: haml 5.5s steps(13) infinite;
 }

 @keyframes haml {
     to {
         background-position: -2860px;
     }
 }

 .hamletSpeaks {
     animation: speaks 5s steps(9) infinite;
 }

 @keyframes speaks {
     100% {
         background-position: -1980px;
     }
 }

 #maria {
     position: absolute;
     top: 50vh;
     left: 10vw;
 }

 #actor {
     position: absolute;
     top: 50vh;
     left: 50vw;
 }

 #hint {
     font-family: Franklin Gothic;
     position: absolute;
     left: 4vw;
     bottom: 18vh;
     width: 100px;
     z-index: 10;
     font-size: 2.5em;
     color: #f8de28;
     border: 4px solid grey;
     border-radius: 10px;
     background-color: rgba(255, 255, 255, 0.7);
     text-shadow: 0 0 5px black;
     text-align: center;
     cursor: pointer;
 }

 #curtain {
     position: absolute;
     z-index: 5;
     top: 0vh;
     width: 100vw;
     height: 110vh;
 }

 .curtainOpen {
     animation: open 3s forwards;
 }

 @keyframes open {
     To {
         transform: translateY(-165vh);
         transition-timing-function: ease-out;
     }
 }

 .fade {
     animation: fadeIt 2s 1.5s forwards;
 }

 @keyframes fadeIt {
     To {
         -webkit-opacity: 0.01;
         -moz-opacity: 0.01;
         opacity: 0.01;
         color: #000;
     }
 }

 #slogans {
     font-family: Brush Script MT;
     position: absolute;
     left: 10vw;
     top: 5vh;
     width: 100%;
     outline: none;
     justify-content: center;
     align-items: center;
     font-size: 5em;
     color: #f8de28;
     margin: 3px;
 }

 .hintFade {
     animation: hintFade 2.5s infinite;
 }

 @keyframes hintFade {
     30% {
         -webkit-opacity: 0.01;
         -moz-opacity: 0.01;
         opacity: 0.01;
         color: #000;
     }
     100% {
         -webkit-opacity: 1;
         -moz-opacity: 1;
         opacity: 1;
         transition: all 4s ease-out 0s;
     }
 }

 ///*Rytis*///
 #plane {
     width: 200px;
     height: 100px;
     background-image: url(/images/plane.png);
     background-size: contain;
     background-repeat: no-repeat;
     position: absolute;
     z-index: 10;
     left: 110vw;
 }

 h3 {
     text-align: center;
     font-family: Franklin Gothic;
     position: absolute;
     left: 45vw;
     top: 200px;
     color: darkgrey;
     opacity: 0;
 }

 .opacity {
     opacity: 1;
 }

 #sign {
     margin-left: 100vw;
     height: 201px;
     /*display: no;*/
 }

 #building1 {
     background-color: aqua;
     height: 300px;
     width: 100px;
     cursor: pointer;
     position: absolute;
     left: 25vw;
     bottom: 10vh;
 }

 #building2 {
     background-color: bisque;
     height: 200px;
     width: 200px;
     cursor: pointer;
     position: absolute;
     left: 40vw;
     bottom: 10vh;
 }

 #building3 {
     width: 200px;
     height: 300px;
     background-color: brown;
     cursor: pointer;
     position: absolute;
     left: 80vw;
     bottom: 10vh;
 }

 #building4 {
     background-color: blue;
     width: 200px;
     height: 400px;
     position: absolute;
     bottom: 10vh;
     left: 0vw;
     cursor: pointer;
 }

 #building5 {
     background-color: darkcyan;
     width: 200px;
     height: 225px;
     position: absolute;
     bottom: 10vh;
     left: 60vw;
     cursor: pointer;
 }

 #buildings {
     margin-top: 50vh;
     display: none;
 }

 #actor1 {
     position: absolute;
     left: 0vw;
     bottom: 10vh;
 }

 #actor2 {
     position: absolute;
     left: 40vw;
     bottom: 10vh;
 }

 #actor3 {
     position: absolute;
     left: 80vw;
     bottom: 10vh;
 }

 #actor1,
 #actor2,
 #actor3 {
     max-height: 200px;
     display: none;
 }

 .allBombs {
     background-image: url(images/bomb.png);
     background-size: cover;
     width: 20px;
     height: 20px;
     margin: auto;
     position: absolute;
     z-index: -1;
     left: 47vw;
     top: 80px;
     opacity: 0;
 }
 /*ALL ANIMATIONS////////////////////////////////////////////////*/

 .animation {
     opacity: 1;
     transition: transform 4s ease-in;
     transform: translate(-22vw, 55vh) scale(3);
 }

 .animation2 {
     opacity: 1;
     transition: transform 4s ease-in;
     transform: translate(0vw, 59vh) scale(3);
 }

 .animation3 {
     opacity: 1;
     transition: transform 4s ease-in;
     transform: translate(35vw, 59vh) scale(3);
 }

 .animation4 {
     opacity: 1;
     transition: transform 4s ease-in;
     transform: translate(-45vw, 59vh) scale(3);
 }

 .animation5 {
     opacity: 1;
     transition: transform 4s ease-in;
     transform: translate(20vw, 59vh) scale(3);
 }

 .actorscometogether {
     transition: transform 2s ease-out;
     transform: translateX(30vw);
 }

 .actorscometogether2 {
     transition: transform 2s ease-out;
     transform: translateX(-30vw);
 }

 .planeFlyOut {
     transition: transform 4s ease-in;
     transform: translateX(-170vw);
 }

 .planeFlyIn {
     transition: transform 4s ease-out;
     transform: translateX(-70vw);
 }

 .planeWrap {
     animation: planeMove 2s infinite alternate;
 }

 @keyframes planeMove {
     to {
         transform: translateY(20px)
     }
 }

 .storyText {
     transition: transform 8s ease-out;
     transform: translateX(-70vw);
 }
